.product-container{
  display: flex;
  justify-content: center;
  padding-top: 106px;

  .base-section{
    >div{
      margin: 3px 0;
    }
  }

  .product-image{
    margin: 30px;

    img{
      height: 690px;
      width: 560px;
      object-fit: cover;
    }
  }

  .product-description{
    margin: 30px;
    width: 352px;
  }

  .size-section{
    display: flex;
    justify-content: start;
  }

  .color-section-container{
    .color-section{
      display: flex;
      justify-content: start;
    }
  }

  .additional-block{
    display: flex;
    justify-content: space-between;
    height: 24px;
  }
}