@font-face {
  font-family: 'Open Sans';
  src: url("/static/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}


*{
  outline: none
}

body{
  margin: 0;
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 16px;
}

a{
  text-decoration: none;
}

#main-container{
  //padding-top: 107px;
}

.header{
  position: fixed;
  height: 84px;
  width: 100%;
  display: flex;
  padding: 11px 0;
  z-index: 10;
  //background: white;

  .logo{
    margin-right: 15px;
  }

  .sections{
    margin: auto 0;
    display: flex;
    font-size: 14px;

    .section{
      margin: 0 15px;
      cursor: pointer;
    }
  }

  .right-menu{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;

    .setting{
      margin: auto 13px;
      cursor: pointer;
    }
  }

  &-white{
    @keyframes change-to-white
    {
      from { background-color: inherit; }
      to { background-color: white; }
    }

    animation: change-to-white 500ms linear;
    background-color: white;

    .right-menu{
      stroke: black;
    }

    .section{
      color: black;
    }
  }

  &-inherit{
    @keyframes change-to-inherit
    {
      from { background-color: white; }
      to { background-color: inherit; }
    }

    animation: change-to-inherit 500ms linear;

    .right-menu{
      stroke: white;
    }

    .section{
      color: white;
    }

    .setting{
      color: white;
    }
  }
}

.content{
  .main-page{
    height: 100vh;
    background: url("/static/background/index.png");
    position: relative;

    .btn-container{
      position: absolute;
      bottom: 80px;
      width: 100%;
      display: flex;
      justify-content: center;

      a{

      }
    }
  }

  .section{
    margin: 50px auto;
    max-width: 1200px;
  }
}

.btn{
  border: 1px solid #BDBDBD;
  width: 300px;
  padding: 8px 25px;
  text-align: center;

  &-inv{
    color: white;
  }
}

.footer{
  background: url("/static/svg/footer.svg") repeat;
  height: 160px;
  width: 100%;

  bottom: 0;
}

.arrow{
  background: url("/static/svg/left-slide.svg") !important;
  top: 50%;
  width: 25px;
  height: 25px;
  transform: translate(0,-50%);
  cursor: pointer;
  position: absolute;
}

.arrow-prev{
  left: -25px;
}

.arrow-next{
  right: -25px;
  background: url("/static/svg/left-slide.svg") !important;
  transform: rotate(180deg);
}