@font-face {
  font-family: 'Open Sans';
  src: url("/static/fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("/static/fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}


*{
  outline: none
}

body{
  margin: 0;
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 16px;
}

a{
  text-decoration: none;
}

#main-container{
  //padding-top: 107px;
}

hr{
  border: none;
  background-color: #BDBDBD;
  height: 2px;
}